*.nirs filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.hcx filter=lfs diff=lfs merge=lfs -text
sub0[4-9]/*.hcx -filter -diff -merge -text
sub0[4-9]/*.nirs -filter -diff -merge -text
sub0[12][0-9]/*.hcx -filter -diff -merge -text
sub0[12][0-9]/*.nirs -filter -diff -merge -text
sub03[01]/*.hcx -filter -diff -merge -text
sub03[01]/*.nirs -filter -diff -merge -text
sub018/sub018_acq.mat -filter -diff -merge -text
sub028/sub028_acq.mat -filter -diff -merge -text
sub022/sub022_acq.mat -filter -diff -merge -text
sub08/sub08_acq.mat -filter -diff -merge -text
sub026/sub026_acq.mat -filter -diff -merge -text
sub031/sub031_acq.mat -filter -diff -merge -text
sub027/sub027_acq.mat -filter -diff -merge -text
sub017/sub017_acq.mat -filter -diff -merge -text
sub030/sub030_acq.mat -filter -diff -merge -text
sub05/sub05_acq.mat -filter -diff -merge -text
sub06/sub06_gen.mat -filter -diff -merge -text
sub014/sub014_acq.mat -filter -diff -merge -text
